<div id="<%= dom_id employee %>">
  <p>
    <strong>First name:</strong>
    <%= employee.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= employee.last_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= employee.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= employee.birthday %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= employee.country %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= employee.active %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= employee.company_id %>
  </p>

</div>
